@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: darkblue;
    min-height:100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.maincontainer {
    min-height: 45%;
    padding: 3vw 9vw;
}
/*************** header ****************/
#la-header {
    width: 100%;
    height: 8vw;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    /*box-shadow: 0 0 #FFFFFF inset, 0 1px 4px rgba(0, 0, 0, 0.3);*/
}
#la-header::after {
    content: "";
    background-image: url("../img/PhotobyJeremyRickettsonUnsplash.jpg");
    background-size: cover;
    opacity: 0.9;
    top: -3vw;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.la-logo {
    /*width: 7vw;*/
    /*height: 5em;*/
    margin: 2.5vw 3vw;
    z-index: 1;
}
.la-logoimg {
    width: 15vw;
    z-index: 1;
}
.la-greeting {
    margin: 3.8vw 1vw;
    font-size: 1em;
    color: whitesmoke;
    text-shadow: 1px 1px 5px #000;
}
#username {
    font-size: 1.7em;
}

.la-logout {
    width: 8vw;
    /*border: #ffdd6e 1px solid;*/
    /*border-radius: 1em;*/
    border: none;
    padding: 0.8vw 0.2vw;
    font-size: 1em;
    background: none;
    color: #ffdd6e;
    text-shadow: 1px 1px 5px #000;
    margin-left: 31vw;
    margin-top: 3vw;
    position: relative;
}
.la-logout a:hover {
    color: whitesmoke;
}
/*.la-logout::after {*/
/*    content: "";*/
/*    background: #ffdd6e;*/
/*    opacity: 0.15;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    !*z-index: -1;*!*/
/*    border-radius: 1.3em;*/
/*}*/
.la-faq {
    font-size: 1em;
    margin-left: 2vw;
    margin-top: 3vw;
    border: none;
    background: none;
    color: #EF767A;
    text-shadow: 1px 1px 4px gray;
}
.la-faq a:hover {
    color: whitesmoke;
}
/*************** body test ****************/
/*.b-content {*/
/*    height: 400px;*/
/*}*/
/*.b-content::after {*/
/*    width: 100%;*/
/*    opacity: 0.6;*/
/*    background: url("../img/team1.jpg") no-repeat top center;*/
/*    background-size: cover;*/
/*}*/
/*************** footer ****************/
#la-footer {
    width: 100%;
    height: 6vw;
    position: relative;
    text-align: center;
    margin-top: 8vw;
    position: relative;
    text-align: center;
}
#la-footer::after {
    content: "";
    background-image: url("../img/PhotobyJeremyRickettsonUnsplash.jpg");
    background-size: cover;
    opacity: 0.6;
    top: -3vw;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.la-footer-content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.la-copyright {
    position: absolute;
    bottom: 2vw ;
    font-size: 0.85em;
    line-height: 2em;
    color: whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 4px gray;
}
.la-copyright a {
    color: darkblue;
}